
@function zy-content($zy-add) {
  @return unquote("\"#{ $zy-add }\"");
}

/*----------------------------------------------------------------------------------------------------
  Zygnus Icons
----------------------------------------------------------------------------------------------------*/
$zy-add: "\e900";
$zy-airplane: "\e901";
$zy-alarm-clock: "\e902";
$zy-angle-down: "\e903";
$zy-angle-left: "\e904";
$zy-angle-right: "\e905";
$zy-angle-top: "\e906";
$zy-archive: "\e907";
$zy-arrow-down: "\e908";
$zy-arrow-left: "\e909";
$zy-arrow-right: "\e90a";
$zy-arrow-up: "\e90b";
$zy-artworks: "\e90c";
$zy-at: "\e90d";
$zy-attachment: "\e90e";
$zy-auction: "\e90f";
$zy-avatar: "\e910";
$zy-beret: "\e911";
$zy-bookmark: "\e912";
$zy-bookmark-active: "\e913";
$zy-bookmark-add: "\e914";
$zy-bookmark-delete: "\e915";
$zy-bookmark-remove: "\e916";
$zy-bookmark-success: "\e917";
$zy-brush: "\e918";
$zy-calendar: "\e919";
$zy-calendar-add: "\e91a";
$zy-calendar-delete: "\e91b";
$zy-calendar-remove: "\e91c";
$zy-calendar-success: "\e91d";
$zy-camera: "\e91e";
$zy-chart-3d: "\e91f";
$zy-chart-donut: "\e920";
$zy-chart-pie: "\e921";
$zy-chart-radio: "\e922";
$zy-chat: "\e923";
$zy-checkbox: "\e924";
$zy-checkbox-selected: "\e925";
$zy-checkmark: "\e926";
$zy-circle-add: "\e927";
$zy-circle-angle-down: "\e928";
$zy-circle-angle-left: "\e929";
$zy-circle-angle-right: "\e92a";
$zy-circle-angle-up: "\e92b";
$zy-circle-arrow-down: "\e92c";
$zy-circle-arrow-left: "\e92d";
$zy-circle-arrow-right: "\e92e";
$zy-circle-arrow-up: "\e92f";
$zy-circle-delete: "\e930";
$zy-circle-indicator-down: "\e931";
$zy-circle-indicator-left: "\e932";
$zy-circle-indicator-right: "\e933";
$zy-circle-indicator-up: "\e934";
$zy-circle-question: "\e935";
$zy-circle-remove: "\e936";
$zy-circle-success: "\e937";
$zy-circle-warning: "\e938";
$zy-cloud: "\e939";
$zy-cloud-download: "\e93a";
$zy-cloud-success: "\e93b";
$zy-cloud-upload: "\e93c";
$zy-code: "\e93d";
$zy-color: "\e93e";
$zy-compass: "\e93f";
$zy-contact: "\e940";
$zy-contact-mobile: "\e941";
$zy-contact-phone: "\e942";
$zy-contract: "\e943";
$zy-copy: "\e944";
$zy-copyright: "\e945";
$zy-coupon: "\e946";
$zy-credit-card: "\e947";
$zy-crown: "\e948";
$zy-cut: "\e949";
$zy-diamond: "\e94a";
$zy-difference: "\e94b";
$zy-discount: "\e94c";
$zy-document: "\e94d";
$zy-dots-horizontal: "\e94e";
$zy-dots-vertical: "\e94f";
$zy-drop: "\e950";
$zy-edit: "\e951";
$zy-email: "\e952";
$zy-email-incoming: "\e953";
$zy-email-open: "\e954";
$zy-email-outgoing: "\e955";
$zy-exit: "\e956";
$zy-eye: "\e957";
$zy-eye-slash: "\e958";
$zy-eyedropper: "\e959";
$zy-female: "\e95a";
$zy-filter: "\e95b";
$zy-filters: "\e95c";
$zy-fingerprint-delete: "\e95d";
$zy-fingerprint-lock: "\e95e";
$zy-fingerprint-success: "\e95f";
$zy-flag: "\e960";
$zy-flag-selected: "\e961";
$zy-folder: "\e962";
$zy-forward: "\e963";
$zy-gift: "\e964";
$zy-glasses: "\e965";
$zy-hamburger: "\e966";
$zy-hamburguer-middle: "\e967";
$zy-hamburguer-right: "\e968";
$zy-heart: "\e969";
$zy-heart-filled: "\e96a";
$zy-home: "\e96b";
$zy-hot: "\e96c";
$zy-image: "\e96d";
$zy-images: "\e96e";
$zy-inbox: "\e96f";
$zy-inbox-incoming: "\e970";
$zy-inbox-outgoing: "\e971";
$zy-indicator-down: "\e972";
$zy-indicator-left: "\e973";
$zy-indicator-right: "\e974";
$zy-indicator-top: "\e975";
$zy-intersect: "\e976";
$zy-key: "\e977";
$zy-lifesaver: "\e978";
$zy-light-bubble: "\e979";
$zy-link: "\e97a";
$zy-loading: "\e97b";
$zy-lock: "\e97c";
$zy-male: "\e97d";
$zy-map: "\e97e";
$zy-map-pin: "\e97f";
$zy-message-text: "\e980";
$zy-news: "\e981";
$zy-notification: "\e982";
$zy-notification-off: "\e983";
$zy-notification-on: "\e984";
$zy-password: "\e985";
$zy-paste: "\e986";
$zy-pen: "\e987";
$zy-pencil: "\e988";
$zy-pin: "\e989";
$zy-portfolio: "\e98a";
$zy-power: "\e98b";
$zy-prohibition: "\e98c";
$zy-pull: "\e98d";
$zy-qr-code: "\e98e";
$zy-quote-left: "\e98f";
$zy-quote-right: "\e990";
$zy-radiobutton: "\e991";
$zy-radiobutton-selected: "\e992";
$zy-receipt: "\e993";
$zy-redo: "\e994";
$zy-redo-arrow: "\e995";
$zy-remove: "\e996";
$zy-reply: "\e997";
$zy-reply-all: "\e998";
$zy-returns: "\e999";
$zy-reward: "\e99a";
$zy-scan: "\e99b";
$zy-search: "\e99c";
$zy-setting: "\e99d";
$zy-share: "\e99e";
$zy-shield-add: "\e99f";
$zy-shield-cross: "\e9a0";
$zy-shield-success: "\e9a1";
$zy-shield-warning: "\e9a2";
$zy-shine: "\e9a3";
$zy-shipping: "\e9a4";
$zy-shipping-box: "\e9a5";
$zy-shopping-bag: "\e9a6";
$zy-shopping-basket: "\e9a7";
$zy-shopping-cart: "\e9a8";
$zy-sort-letter-a-to-z: "\e9a9";
$zy-sort-letter-z-to-a: "\e9aa";
$zy-sort-price-high-to-low: "\e9ab";
$zy-sort-price-low-to-high: "\e9ac";
$zy-square-arrow-up: "\e9ad";
$zy-square-add: "\e9ae";
$zy-square-angle-down: "\e9af";
$zy-square-angle-left: "\e9b0";
$zy-square-angle-right: "\e9b1";
$zy-square-angle-up: "\e9b2";
$zy-square-arrow-down: "\e9b3";
$zy-square-arrow-left: "\e9b4";
$zy-square-arrow-right: "\e9b5";
$zy-square-delete: "\e9b6";
$zy-square-indicator-down: "\e9b7";
$zy-square-indicator-left: "\e9b8";
$zy-square-indicator-right: "\e9b9";
$zy-square-indicator-top: "\e9ba";
$zy-square-remove: "\e9bb";
$zy-square-success: "\e9bc";
$zy-star: "\e9bd";
$zy-star-empty: "\e9be";
$zy-star-half: "\e9bf";
$zy-store: "\e9c0";
$zy-substract: "\e9c1";
$zy-suitcase: "\e9c2";
$zy-support: "\e9c3";
$zy-tag: "\e9c4";
$zy-thumb-down: "\e9c5";
$zy-thumb-up: "\e9c6";
$zy-tie: "\e9c7";
$zy-toggle: "\e9c8";
$zy-toggle-off: "\e9c9";
$zy-toggle-on: "\e9ca";
$zy-trash: "\e9cb";
$zy-trash-delete: "\e9cc";
$zy-undo: "\e9cd";
$zy-undo-arrow: "\e9ce";
$zy-union: "\e9cf";
$zy-unlink: "\e9d0";
$zy-unlock: "\e9d1";
$zy-user: "\e9d2";
$zy-user-add: "\e9d3";
$zy-user-delete: "\e9d4";
$zy-user-group: "\e9d5";
$zy-user-remove: "\e9d6";
$zy-user-success: "\e9d7";
$zy-wallet: "\e9d8";
$zy-warning: "\e9d9";
$zy-zygnus: "\e9da";